:host {
  .wrapper {
    display: flex;
    flex-direction: column;

    .content-block {
      display: flex;
      flex-direction: row;
      align-items: flex-start;

      .content {
        flex: 60;
        display: flex;

        &:hover {
          box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        flex-direction: column;
        margin: 10px;
        padding: 10px;
      }
    }
  }
}
